# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Anki output
apkg/
flashcardTxt/
reduced/
summaries/
transcripts/
currentTitle.json

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore examples if you want to track only source code
# examples/
